{% extends "base.html" %}
{% block head %}
  <title>Home</title>
{% endblock%}
{% block subheader %}
<div class="callout large primary">
  <div class="row column text-center">
    <h1>Freshmen Ventures</h1>
    <h2 class="subheader">Sally McDonnell Barksdale Honors College</h2>
  </div>
</div>
{% endblock %}
{% block content %}

  <div class="row content-box">
    {% if session.user %}
      <p>Currently logged in as: <b>{{ session.user.username }}</b></p>
      {% if session.user.is_admin %}
        <p>Administrator Account. Admin options are in the top menu.</p>
      {% endif %}
      <form action="" method=post enctype=multipart/form-data>
          <input class="button" type="submit" name="logout" value="Log Out">
      </form>
    {% elif config.AUTH_TYPE == 'sso' %}
        <p><a href="{{url_for('login')}}" class="button">Log in with OleMiss WebID</a></p>
    {% else %}
      <p>Debug login page. This shouldn't show up with any auth system enabled.</p>
      <form action="" method=post enctype=multipart/form-data>
          Username: <input type="text" name="username" autofocus><br>
          Password: <input type="password" name="password"><br>
          <input class="button" type="submit" name="login" value="Log In">
      </form>
    {% endif %}
  </div>

{% endblock %}
