{% extends "base.html" %}
{% block head %}
  <title>Vote</title>
{% endblock%}
{% block content %}
  <!-- Display table of entries -->
  <!-- TODO: Account for many entries, display a set amount with pages -->
  <div>
    <form action="" method=post enctype=multipart/form-data onsubmit="return confirm('All votes are FINAL. Do you wish to submit your vote(s)?');">
      <!-- <table class="entries">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Vote</th>
        </tr> -->
        {% if edict['entries'] %}
            {% for entry in edict['entries'] %}
              <!-- <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.desc }}</td>
                <td><a href="{{ url_for('uploaded_file', filename=entry.image) }}"><img src="{{ url_for('uploaded_file', filename=entry.image+'.thumb') }}"></a></td>
                <td><input type="checkbox" class="votebox" name="vote_entry[]" value={{entry.id}} {% if entry.id in votes %}checked disabled{% endif %}></td>
              </tr> -->
              <div class="row">
                <div class="small-6 columns">
                  <a href="{{ url_for('uploaded_file', filename=entry.image) }}"><img src="{{ url_for('uploaded_file', filename=entry.image+'.thumb') }}"></a>
                </div>
                <div class="small-5 columns">
                  <div class="row">
                    <p>{{ entry.name }}</p>
                  </div>
                  <div class="row">
                    <p>{{ entry.desc }}</p>
                  </div>
                </div>
                <div class="small-1 columns">
                  <input type="checkbox" class="votebox" name="vote_entry[]" value={{entry.id}} {% if entry.id in votes %}checked disabled{% endif %}>
                </div>
              </div>
              <hr>
            {% endfor %}
        {% endif %}
      <!-- </table> -->

      <hr />

      {% if session.user.username %}
        <p>Currently logged in as: <b>{{ session.user.username }}</b></p>
      {% endif %}
      {% if votes|length >= config['MAX_VOTES'] %}
        <p><b>No remaining votes.</b></p>
      {% else %}
        <p>Remaining votes: <b><span id="votecount">{{ config['MAX_VOTES'] - votes|length }}</span></b></p>
      {% endif %}

      <script>
        var limit = {{ config['MAX_VOTES'] }};
        $('input.votebox').on('change', function(evt) {
          if($('input.votebox:checked').length > limit) {
            this.checked = false;
          }
          $( "#votecount" ).html(limit - $('input.votebox:checked').length);
        });
      </script>

      <!-- Add button to clear votes? -->
      <input class="button" type="submit" name="vote" value="Vote">
    </form>
    <br/>
  </div>

{% endblock %}
